<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Сотрудник</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearDetails()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="clearDetails()" id="cancel" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-success" (click)="postPersonDetails()" *ngIf="showAdd">Добавить</button>
        <button type="button" class="btn btn-success" (click)="updatePersonDetails()" *ngIf="showUpdate">Изменить</button>
      </div>
    </div>
  </div>
</div>
